@model  EntityLayer.Concrete.About

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

   <div class="card-header border-0">
    <h3 class="mb-0">Hakkımda Düzenleme Sayfası</h3>
</div>
@using (Html.BeginForm("Index","About",FormMethod.Post))
{
<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <p class="card-description"> Deneyim Düzenleme Paneli </p>
                    <form class="forms-sample">
                      <div class="form-group">
                        <label >ID</label>
                        @Html.TextBoxFor(x=>x.AboutID,new {@class="form-control"})
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Başlık</label>
                        @Html.TextBoxFor(x=>x.Title,new {@class="form-control"})
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Yaş</label>
                        @Html.TextBoxFor(x=>x.Age,new {@class="form-control"})
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Mail</label>
                        @Html.TextBoxFor(x=>x.Mail,new {@class="form-control"})
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Adres</label>
                        @Html.TextBoxFor(x=>x.Address,new {@class="form-control"})
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3">Telefon</label>
                        @Html.TextBoxFor(x=>x.Phone,new {@class="form-control"})
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4">Resim Yolu</label>
                        @Html.TextBoxFor(x=>x.ImageUrl,new {@class="form-control"})
                      </div>                                           
                      <div class="form-group">
                        <label for="exampleTextarea1">Açıklama</label>
                        @Html.TextAreaFor(x=>x.Description,6,3,new {@class="form-control"})
                      </div>
                      <button  class="btn btn-outline-primary mr-2">Kaydet</button>
                      <button class="btn btn-outline-success">İptal</button>
                    </form>
                  </div>
                </div>
              </div>
 <button class="btn btn-info">Güncelle</button>
}

